<form>
  <label for="radius">Radius:</label>
  <input type="text"
    (ngModelChange)="onUpdate()"
    [(ngModel)]="activePizza.size"
    name="radius"
    id="radius">
  <label for="price">Price:</label>
  <input type="text"
    (ngModelChange)="onUpdate()"
    [(ngModel)]="activePizza.price"
    name="price"
    id="price">
  <label for="quantity">Quantity:</label>
  <input type="text"
    (ngModelChange)="onUpdate()"
    [(ngModel)]="activePizza.quantity"
    id="quantity"
    name="quantity">
    <button (click)="addNewPizza()">Dodaj</button>
</form>
